.footer {
    background-color: $color-primary;
    grid-column: sidebar-start / full-end;
    background: whitesmoke;
    padding: 1rem;
}

.nav {
    list-style: none;
    height: 15rem;
    // margin: 0 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    &__link:link,
    &__link:visited {
        font-size: 1.4rem;
        color: $color-gray-light-2;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
    }
}